.header {
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-size: 102% 80%;
  background-position-y: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--block-distance);
}
.header .navbar {
  width: 100%;
  padding-inline: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: var(--block-distance);
}
.header .navbar-list {
  display: flex;
  gap: 20px;
  list-style: none;
}
.header .navbar-list__item {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
}
.header .navbar .mobile-menu {
  display: none;
}
.header .navbar .mobile-menu #mobile-menu__togle {
  opacity: 0;
}
.header .navbar .mobile-menu #mobile-menu__togle:checked + .mobile-menu__btn {
  position: fixed;
}
.header .navbar .mobile-menu #mobile-menu__togle:checked + .mobile-menu__btn span {
  transform: rotate(45deg);
}
.header .navbar .mobile-menu #mobile-menu__togle:checked + .mobile-menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
.header .navbar .mobile-menu #mobile-menu__togle:checked + .mobile-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header .navbar .mobile-menu #mobile-menu__togle:checked ~ .mobile-menu__box {
  right: 0;
}
.header .navbar .mobile-menu__btn {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.header .navbar .mobile-menu__btn span,
.header .navbar .mobile-menu__btn span::before,
.header .navbar .mobile-menu__btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition-duration: 0.25s;
}
.header .navbar .mobile-menu__btn span::before {
  content: "";
  top: -8px;
}
.header .navbar .mobile-menu__btn span::after {
  content: "";
  top: 8px;
}
.header .navbar .mobile-menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 1;
}
.header .navbar .mobile-menu__box .navbar-list__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  transition-duration: 0.25s;
}
.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-inline: var(--main-padding);
}
.header-main__title {
  font-weight: 500;
  font-size: 68px;
  line-height: 120%;
  color: white;
  text-align: center;
  margin-bottom: 8px;
}
.header-main__description {
  text-align: center;
  margin-bottom: 40px;
}
.header-main .btn {
  margin-bottom: 88px;
}
.header-main__img {
  width: 100%;
}
.header-main__img--relative {
  position: relative;
  padding-top: 63%;
}

@media screen and (max-width: 1250px) {
  .header .navbar-list {
    display: none;
  }
  .header .navbar .btn {
    display: none;
  }
  .header .navbar .mobile-menu {
    display: block;
  }
  .header-main__title {
    font-size: 42px;
    line-height: 120%;
  }
}
@media screen and (max-width: 600px) {
  .header-main__title {
    font-size: 36px;
  }
  .header-main__img {
    width: 100%;
  }
}/*# sourceMappingURL=header.css.map */