.process {
  padding: 184px var(--main-padding);
  background-image: url("../img/main_process_bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--block-distance);
  &-header {
    max-width: 718px;
    &--text {
      font-weight: 700;
      font-size: 12px;
      line-height: 122%;
      text-align: center;
      letter-spacing: 0.15em;
      color: #ffffff;
      opacity: 0.5;
      margin-bottom: 12px;
    }
    &--title {
      text-align: center;
      color: #ffffff;
      margin-bottom: 24px;
    }
    &--description {
      text-align: center;
      margin-bottom: 32px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    .process__block {
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      padding: 28px;
      position: relative;
      &__img {
        width: 48%;
      }
      &--relative {
        position: relative;
        padding-top: 54%;
      }
      &__info {
        width: 48%;
        padding-top: 40px;
        &__img {
          width: 50px;
          height: 50px;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &--description {
          color: #595e64;
        }
      }
      &--line {
        position: absolute;
        height: 40px;
        left: 50%;
        bottom: -40px;
        border: 1px dotted white;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .process {
    &-header--title {
      margin-bottom: 10px;
    }
    &-header--description {
      margin-bottom: 24px;
    }
    &__block {
      flex-direction: column;
      align-items: center;
      &__img {
        width: 80%;
      }
      &__info {
        width: 80%;
      }
    }
  }
}
